.app_dark_theme {
  --bg-color: #222222;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #333333;
  --secondary-color: #505050;
  --inverted-primary-color: #eeeeee;
  --inverted-secondary-color: #dddddd;
}