.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #222222;
  --primary-color: #333333;
  --secondary-color: #7e7e7e;
  --inverted-primary-color: #808080;
  --inverted-secondary-color: #b6b6b6;

  color: #043270;
}