@import "reset";
@import "variables/global.scss";
@import "themes/light";
@import "themes/dark";

.app {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-wrapper {
  width: 100%;
}

.container {
  min-height: calc(100vh - 64px);
}